*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    font-size: 28px;
    font-weight: bold;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box{
    background-color: #f0f2f5;
    height: 100vh;
}
input {
    width: 100%;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 0;
    border: 1px solid  #dddfe2;
    color: #dddfe2;
    border-radius: 6px;
    outline: none;  
}

.btn{
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-transform: capitalize;
}
.btn:hover{
    background-color: #4267b2;
}
.tex-box{
    float: left;
    width: 25%;
    margin: 15% 0;
    margin-left: 200px;
}
.input-box{
    width: 25%;
    float: right;
    margin: 15% 0;
    margin-right: 200px;
    background-color: #fff;
    padding: 25px 20px;
    text-align: center;
    box-shadow: 0 2px 4px;
    border-radius: 15px;
}

hr{
    margin: 15px 0;
    height: 1px;
    border: none;
    background-color: #dddfe2;
}
.crt{
    background-color: #42b72a;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight:bold;
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px 15px;
}
